.welcome{
    padding-right: 3.5em;
    text-align: left;

    grid-area: welcome;
}

.projects{
    padding-right: 3.5em;
    text-align: left;

    grid-area: projects;
}

.projects h3{
    margin-top: 1em;
}

@media screen and (min-width : 320px){
    .container {
        grid-template-areas: 
            "header"
            "welcome"
            "projects"
            "sidebar";
    }
}

@media screen and (min-width : 766px){
    .container{
        grid-template-areas: 
            "header header header"
            "welcome welcome sidebar"
            "projects projects sidebar";
    }
}

@media screen and (min-width: 992px){
     .container {
        grid-template-areas:
            ". header header ."
            ". welcome sidebar ."
            ". projects sidebar .";
    }
}