{% extends  "base" %}
{% block content %}
    <section class="content common">
        <h1>{{ category }} Listing</h1>
        <ul>
            {% for article in category_children if not article.private %}
                <li> 
                    <details>
                        <summary>
                                <a href="{{article.output_path.name}}">{{article.title}}</a>
                                <span class="tags">
                                    {% for tag in article.tags %}
                                    #{{tag}} 
                                    {% endfor %}
                                </span>
                        </summary>
                        <p>{{article.abstract}}</p> 
                    </details>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}