<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ashwin's Website</title>

        <link rel="stylesheet" href="/assets/common.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&family=Stalinist+One&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="container">
            <header>
                <i>
                    <h1>ASHWIN VINOD</h1>
                </i>
            </header>

            <section class="content common">
                <h1>{{ category }} Listing</h1>
                <ul>
                    {% for article in category_children if not article.private %}
                        <li> 
                            <details>
                                <summary>
                                    <a href="{{article.output_path.name}}">{{article.title}}</a>
                                    <span class="tags">
                                        {% for tag in article.tags %}
                                            #{{tag}} 
                                        {% endfor %}
                                    </span>
                                </summary>
                                <p>{{article.abstract}}</p> 
                            </details>
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <div class="sidebar common">
                <h2>Socials</h2>
                <ul>
                    <!-- Auto Populate Subcategories -->
                    <li><a href="https://github.com/ashwinvin">Github</a></li>
                    <li><a href="mailto:ashwinvinodsa@gmail.com">Mail</a></li>
                </ul>
                
                <hr>

                <h2>Pages</h2>
                <ul>
                    {% for name, link in base_links.items() %}
                        <li><a href="{{link}}">{{name}}</a></li>
                    {% endfor %}

                    {% for name, link in category_links.items() %}
                        <li><a href="{{link}}">{{name}}</a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </body>

</html>