{% extends  "base" %}
    {% block custom_style_sheets %}
        <link rel="stylesheet" href="assets/index.css">
    {% endblock %}
    
    {% block content %}
            <section class="welcome common">
                <p> <span class="big">Welcome!</span> to my humble personal website. You can find my thoughts, experiences
                    and other
                    technical stuff here.
                </p>

                <hr />

                <h2>About me</h2>
                <p>I'm Ashwin Vinod and I like to make, break and fix things with computers. I'm currently experimenting with
                    low-level programming and electronics. Oh, did I forgot to mention that I can do sick moves with
                    nunchakus :)
                </p>

                <hr />

                <h2>About this website</h2>
                <p>The website is my contribution to the 
                    <a href="https://dangillmor.com/2014/04/25/indie-web-important/">Indie Web Movement</a>
                    which I believe will be one of the last attempts in bringing back worthwhile organic content on the
                    internet to read and think upon on.
                </p>

                <p>The design is inspired from the cyberpunk aesthetics. The websites hosted on 
                    <a href="https://nekoweb.org/">nekoweb</a> had also influenced me a lot, a number of wonderful and 
                    pretty websites are hosted there, you should definitely check them out!.</p>

                <p> I have tried my best to keep the use of LLMs here to the absolute minimum as I believe personal projects
                    should be a reflection of ones own thoughts. As of now, the use of such here is zero :)
                </p>

            </section>

            <section class="projects common">
                <h1>
                    Projects
                </h1>
                <dl>
                    <dt><h3> Personal </h3></dt>
                    <dd>
                        <ul>
                            <li><a href="https://github.com/ashwinvin/anvesh">Anvesh</a>: A minimal metasearch engine 
                                written in rust.</li>
                            <li><a href="https://github.com/ashwinvin/digital-canvas">Digital Canvas</a>: A python program
                                which tracks your finger to draw on air.</li>
                            <li><a href="https://github.com/ashwinvin/Visionlib">Visionlib(archived)</a>:A wrapper library 
                                over to multiple popular python libraries to run object detection on images and videos</li>
                        </ul>
                    </dd>

                    <dt><h3>Contributions</h3></dt>
                    <dd>
                        <ul>
                            <li><a href="https://github.com/neon-mmd/websurfx">Websurfx</a>: A fast and privacy friendly 
                                metasearch engine</li>
                            <li><a href="https://github.com/py-mine/PyMine-Server">Pymine</a>: Minecraft server written in python</li>
                            <li><a href="https://github.com/hikari-py/hikari">Hikari</a>: `asyncio` based Discord API wrapper written in Python</li>
                            <li><a href="https://github.com/litestar-org/litestar">Litestar</a>: Production ready ASGI framework for python</li>
                        </ul>
                    </dd>
                </dl>

                </ul>
            </section>
    {% endblock %}